<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Idle_Game</title>
</head>
<body>
    <div id="page">
        <div id="topDiv">
            <p>You have <a id="clicks">0</a> clicks.</p>
            <p>You are getting <a id="autoClicks">0</a> clicks per second.</p>
        </div>
        <div id="centerDiv">
            <button type="button" onClick="onClick()">Click me</button>
            <button type="button" onClick="autoClick()">Auto Clicker<br>Cost: 10 clicks</button>
            <button type="button" onClick="stop()">Stop</button>
        </div>
    </div>
    <script type="text/javascript" src="javascripts/scripts.js"></script>
</body>
</html>